<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>#codevember - 12 - Black Hole</title>

    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

<canvas id="canvas"></canvas>

<script src='./js/jreejo.js'></script>
<script  src="./js/index.js"></script>

</body>
</html>