.container{
    width: 100%;
    height: 25%;
    overflow-x: hidden;
    position: relative;
}
.carouselGroup{
    display: flex;
    height: 100%;
    width: auto;
    position: relative;  
}
.carouselItems{
    display: flex;
    background-color:#000;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    flex-shrink: 0; 
}
.poster{
    height: 75%;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.posterImageBox{
    height: 100%;
    width: 60%;
}
.posterImageBox img{
    height: 100%;
}
.learnMore{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carouselOptionsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.carouselOptions:first-child{
    transform: scale(1.5);
}
.carouselOptions{
    height: 8px;
    width: 8px;
    background-color: #ffd100;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
    transition: transform 1s;
}
