.container{
    width: 100vw;
    height: 17vh;
    position: fixed;
    bottom: 30vh;
    display: flex;
    align-items: center;
}
.mid {
    width: 100vw;
    height: 3px;
    background-color: rgba(34,34,34,.20);
}
.loadingBG{
    height: 17vh;
    width: 17vh;
    border-radius: 8.5vh;
    background-image: url(../../../../assets/gear.png);
    background-color: #ffd100;
    background-position: center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 12vw;
    animation: loadingBGAction 3s linear;
    animation-iteration-count:infinite;
}
.loadingWords{
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    animation: loadingBGAction 3s linear reverse;
    animation-iteration-count:infinite;
    height: 30%;
}
.loadingWords img{
    height: 100%;
}
@keyframes loadingBGAction {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);       
    }
} 
@-webkit-keyframes loadingBGAction{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);       
    }
}